@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&family=Roboto+Condensed:wght@300&display=swap');

body {
  margin: 0px;
  background-color: #F9F7F7;
  color: #3F72AF;
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 0;
  margin: 10px;
  font-size: 20px;
  z-index: 1;
}

.header {
  margin: 10px;
  margin-bottom: 10vh;
  font-size: 40px;
}

.main {
  display: flex;
}

.add {
  display: flex;
  height: 10rem;
  width: 10rem;
  border: #3F72AF solid 1px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transition: 100ms;
  border-radius: 20px;
  z-index: 1;
}

.add:hover {
  border: #F9F7F7 solid 1px;
  color: #F9F7F7;
  background-color: #3F72AF;
}

.form.active{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 40%;
  transition: 200ms;
  z-index: 2;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 200ms;
  opacity: 0;
  z-index: 0;
  color: white;
}

.exit {
  cursor: pointer;
}